<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Listas Mensalista</h2>

    <!-- Funcao para listar as pessoas do banco no template com for -->
    <ul>
        {% for mensalista in mensalist%}

       <li>
           <a href="{% url 'core_mensalista_update' mensalista.id %}">
               {{ mensalista.veiculo }} - {{ mensalista.inicio }}
           </a>
       </li>

        {% endfor %}

    </ul>

    <!-- Form para Cadastro de MovRotativos -->
    <form action="{% url 'core_mensalista_novo' %}" method='POST'> <!-- Puxando o form com o method POST -->
        {% csrf_token %} <!-- Token de seguranca -->
    
        {{form.as_p}} <!-- Puxando a var que tem os campos ao banco de dados -->
    
        <button type='submit'>Cadastrar</button>
    </form>
</body>
</html>