<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Listas Movimentos Rotativos</h2>

    <!-- Funcao para listar as pessoas do banco no template com for -->
    <ul>
        {% for mov in mov_rot%}

        <li>{{mov.checkin}} - {{mov.checkout}}</li>

        {% endfor %}

    </ul>
</body>
</html>